# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Virtual environments
.venv/
env/
ENV/

# Conda
conda-meta/

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

# Local files
*.csv